{% load gantt %}

<div id="gantt_div" class="uk-width-1-1"></div>

<script type="text/javascript">
    google.charts.setOnLoadCallback(drawChart);


    function drawChart() {
        function daysToMilliseconds(days) {
            return days * 24 * 60 * 60 * 1000;
        }

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Task ID');
        data.addColumn('string', 'Task Name');
        data.addColumn('string', 'Resource ID');
        data.addColumn('date', 'Start Date');
        data.addColumn('date', 'End Date');
        data.addColumn('number', 'Duration');
        data.addColumn('number', 'Percent Complete');
        data.addColumn('string', 'Dependencies');

        var rows = [
            {% autoescape off %}
                {% for phase in project.phases.all %}
                    {% print_phase_row phase %}
                    {% for task in phase.tasks.all %}
                        {% print_task_row task %}
                    {% endfor %}
                {% endfor %}
            {% endautoescape %}
        ];

        data.addRows(rows);

        var el = document.getElementById('gantt_div');
        var chart = new google.visualization.Gantt(el);
        var options = {
            width: document.getElementById('time-tabs').getBoundingClientRect().width,
            height: rows.length * 42,
            gantt: {
                barCornerRadius: 0,
                percentEnabled: false
            }
        };
        chart.draw(data, options);


    }
</script>