<div class="uk-card uk-card-default uk-card-body uk-margin">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            {% include 'dashboard/elements/status.html' with status_code=3 %}
        </div>
        <h3 class="uk-card-title">Risk</h3>
    </div>
    <div uk-grid>
        <div class="uk-width-auto@m uk-flex-last@m">
            <ul class="uk-tab-right" uk-tab="connect: #risk-tabs">
                <li><a href="#">Risks</a></li>
                <li><a href="#">Issues</a></li>
            </ul>
        </div>
        <div class="uk-width-1-4">
            Risk-Overview
        </div>
        <div class="uk-width-expand@m">
            <ul id="risk-tabs" class="uk-switcher">
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </li>
                <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </li>
            </ul>
        </div>
    </div>
</div>