{% load time_phases %}

<table class="uk-table uk-table-striped uk-table-hover uk-table-small">
    <thead>
    <tr>
        <th>ID</th>
        <th>Phase</th>
        <th>Planned End</th>
        <th>Predicted End</th>
        <th>Delta</th>
    </tr>
    </thead>
    <tbody>
    {% for phase in project.phases.all %}
        <tr>
            <td>P{{ phase.id }}</td>
            <td>{{ phase.name }}</td>
            <td>{{ phase.get_planned_end_date }}</td>
            <td>{{ phase.get_end_date }}</td>
            <td>{% delta_in_days phase %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>