<div class="uk-card uk-card-default uk-card-body uk-margin">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            {% include 'dashboard/partials/status.html' with status_code=status.budget %}
        </div>
        <h3 class="uk-card-title">Budget</h3>
    </div>

    <div uk-grid>
        <div class="uk-width-auto@m uk-flex-last@m">
            <ul class="uk-tab-right" uk-tab="connect: #budget-tabs">
                <li><a href="#">EVA</a></li>
                <li><a href="#">Phases</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
        </div>
        <div class="uk-width-1-4">
            {% include 'dashboard/sections/budget-overview.html' %}
        </div>
        <div class="uk-width-expand@m">
            <ul id="budget-tabs" class="uk-switcher">
                <li>
                    {% include 'dashboard/sections/tabs/budget-earned-value-analyis-graph.html' %}
                </li>
                <li>
                    {% include 'dashboard/sections/tabs/budget-phases.html' %}
                </li>
                <li>
                    {% include 'dashboard/sections/tabs/budget-resources.html' %}
                </li>
            </ul>
        </div>
    </div>
</div>