<div class="uk-card uk-card-default uk-card-body uk-margin">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-auto">
            {% include 'dashboard/partials/status.html' with status_code=status.scope %}
        </div>
        <h3 class="uk-card-title">Risks and Chances</h3>
    </div>
    <div uk-grid>
        <div class="uk-width-1-4">
            <dl>
                <dt>Encountered Issues</dt>
                <dd>{{ project.issues.count }}</dd>
                <dt>Identified Chances</dt>
                <dd>{{ project.chances.count }}</dd>
                <dt>Identified Risks</dt>
                <dd>{{ project.risks.count }}</dd>
                <dt>Unresolved Risk</dt>
                <dd>{{ project.display_unresolved_risk }}</dd>
            </dl>
        </div>
        <div class="uk-width-expand@m">
            <span class="uk-text-lead">Issues</span>
            {% include 'dashboard/sections/tabs/scope-issues.html' %}
            <span class="uk-text-lead">Risks</span>
            {% include 'dashboard/sections/tabs/scope-risks.html' %}
            <span class="uk-text-lead">Chances</span>
            {% include 'dashboard/sections/tabs/scope-chances.html' %}
        </div>
    </div>
</div>