<!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/css/uikit.min.css"/>

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.31/js/uikit-icons.min.js"></script>

<!-- Google Charts -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>google.charts.load('current', {'packages': ['gantt', 'line']});</script>

{% include "dashboard/partials/header.html" %}

<div class="uk-flex uk-padding">
    <div>
        {% include "dashboard/partials/light.html" %}
    </div>
    <div class="uk-width-1-1">
        {% include "dashboard/sections/budget.html" %}
        {% include "dashboard/sections/time.html" %}
        {% include "dashboard/sections/scope.html" %}
    </div>
</div>